body {
    background-image: url(images/background1.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}


nav {
    width: 88%;
    margin: auto;
    padding: 5px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a:hover {
  color: blue;
}

.logo {
    color: blue;
}