*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.308),rgba(0, 0, 0, 0.233)), url(images/background2.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.logo {
    margin-left: 20px;
    color: blue;
}


nav {
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 45px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    color: blue;
    border-radius: 12px;
    font-size: 18px;
}

nav ul li a:hover {
  color: red;
}

.booking-form-box {
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 4% auto 0;
}

.radio-btn {
    margin: 0 20px;
}

.radio-btn .btn {
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-btn .btn::after {
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after {
    content: '';
    background-color: #000;
    transition: 0.5s;
}

.radio-btn span {
    color: #fff;
    margin-right: 5px;
    font-size: 15px;
}

.booking-form {
    padding: 0 20px 20px;
}

.booking-form label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}

input::placeholder {
    color: #fff !important;
}

.input-grp {
    width: 151px;
    display: inline-block;
}

.form-control {
    font-size: 12px !important;
    border-radius: 0!important;
    color: #fff !important;
    background: transparent !important;
    box-shadow: none !important;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.select-date::-webkit-calender-picker-indicator {
    background: transparent !important;
}

.custom-select {
    color: #fff !important;
    font-size: 12px !important;
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.custom-select option {
    color: #333;
}

.flight {
    width: 100%;
    padding: 9px 0 !important;
    font-size: 12px !important;
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.flight:hover {
    background: #fff !important;
    color: #000 !important;
    transition: 0.5s;
}

.icon {
    font-size: 30px;
    color: #161616;
    cursor: pointer;
    display: none;
}

.cans {
    display: none;
}

@media only screen and (max-width: 1320px) {
    .container {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 0 30px;
    }

    body {
        background-attachment: fixed;
    }

    nav {
        position: relative;
        padding: 5px 0px;
        z-index: 2;
    }

    .menu {
        position: fixed;
        
    }
}

@media (max-width:650px) {
    .container {
        padding: 0 0px;
    }

    .icon {
        display: block;
        color: whitesmoke;
    }

     body {
        background-attachment: fixed;
     }

    nav {
        position: relative;
        padding: 10px 0px;
        z-index: 2;
    }

    .menu {
        position: fixed;
        right: -10px;
        top: 0px;
        background-color: lightgray;
        width: 22%;
        box-shadow: 0 1px 16px hsla(210, 74%, 62%, 0.1);
        padding: 3.5rem 2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        transition: top 0.1s;
        align-items: center;
        animation: tone 2s 1;
        /* display: none; */
    }

    @keyframes tone {
        from {
            max-width: 30%;
        }
        to{
            max-width: 100%;
        }
    }

    .menu li a {
        display: flex;
        font-size: 1.3rem;
        padding: 10px 100px;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }

    .cans {
        position: absolute;
        top: 0rem;
        left: 0.8rem;
        display: block;
        cursor: pointer;
        font-size: 25px;
    }

    nav ul{
        display: none;
    }

    nav ul.mList {
        display: none;
    }

    .booking-form-box {
        max-width: 350px;
        border: 1px solid #ced4da;
        margin: 20% auto 0;
    }
}


@media (max-width: 393px) {
    .container {
        padding: 0 0px;
    }

    .icon {
        display: block;
        color: whitesmoke;
    }

     body {
        background-attachment: fixed;
     }

    nav {
        position: relative;
        padding: 10px 0px;
        z-index: 2;
    }

    .menu {
        position: fixed;
        right: -10px;
        top: 0px;
        background-color: lightgray;
        width: 50%;
        box-shadow: 0 1px 16px hsla(210, 74%, 62%, 0.1);
        padding: 3.5rem 2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        transition: top 0.1s;
        align-items: center;
        animation: tone 2s 1;
        /* display: none; */
    }

    @keyframes tone {
        from {
            max-width: 30%;
        }
        to{
            max-width: 100%;
        }
    }

    .menu li a {
        display: flex;
        font-size: 1.3rem;
        padding: 10px 100px;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }

    .cans {
        position: absolute;
        top: 0rem;
        left: 0.8rem;
        display: block;
        cursor: pointer;
        font-size: 25px;
    }

    nav ul{
        display: none;
    }

    nav ul.mList {
        display: none;
    }

    .booking-form-box {
        max-width: 350px;
        border: 1px solid #ced4da;
        margin: 20% auto 0;
    }
}

