*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(images/background1.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}


nav {
    width: 88%;
    margin: auto;
    padding: 5px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a:hover {
  color: blue;
}

.logo {
    color: blue;
}

.section {
    margin: 80px 410px;
}

.write-up h1 {
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.button-btn {
    margin: 20px 20px;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 6px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
}
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
   
   button:hover span {
    padding-right: 15px;
}
   
   button:hover span:after {
    opacity: 1;
    right: 0;
}

#in {
    color: blue;
}

.time h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 300px;
    margin-left: 100px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    color: blue;
    cursor: pointer;
    display: none;
}

.time:hover h1 {
    color: red;
    transition: 1s;
}

.plans {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.travel {
    width: 30%;
    text-align: center;
    color: #fff;
}

.travel h1 {
    font-size: 40px;
    color: rgb(209, 46, 46);
}

.tours {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.places {
    display: inline;
    text-align: center;
    border-radius: 12px;
}

.places h2 {
    color: red;
    font-size: 35px;
    letter-spacing: 3px;
    border-radius: 1px;
    padding: 30px 30px;
    background-color: #000;
}

.places a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 12px;
    border-radius: 12px;
    background-color: #fff;
    padding: 12px 30px;
}

.places a:hover {
    background-color: #000;
    letter-spacing: 3px;
    transition: 0.6s;
}

.places img {
    width: 300px;
    height: 250px;
    border-radius: 12px;
}
.icon {
        font-size: 30px;
        color: #161616;
        cursor: pointer;
        display: none;
}

.cans {
    display: none;
}

footer {
    position: relative;
    background-color: #000;
    width: 100w;
    padding: 20px 0;
    text-align: center;
    height: 118px;
}

footer h1 {
    font-size: 18px;
    color: white;
    margin: 0rem 1rem 1rem 0;
}

.footer-bottom {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 20rem;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover {
    color: aqua;
}

.container-about {
    width: 80%;
    margin-top: 0px;
    padding: 20px;
    margin-left: 100px;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 100px;
    color: blue;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image {
    flex: 1;
    margin-right: 0px;
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    width: 85%;
    height: 10%;
    transition: transform 0.3s ease;
    margin-left: 20%;
    margin-top: 60px;
}

.image:hover {
    transform: scale(1.1);
}

.content {
    flex: 1;
    margin-left: 20px;
}

.content p {
    font-size: 17px;
    line-height: 1.6;
}

@media only screen and (max-width: 1320px) {
    .container {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 0 30px;
    }

    .icon {
        display: block;
    }

     body {
        background-attachment: fixed;
     }

    nav {
        position: relative;
        padding: 5px 0px;
        z-index: 2;
    }

    .menu {
        position: fixed;
        right: -10px;
        top: 0px;
        background-color: lightgray;
        width: 50%;
        box-shadow: 0 1px 16px hsla(210, 74%, 62%, 0.1);
        padding: 3.5rem 2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        transition: top 0.1s;
        align-items: center;
        animation: tone 2s 1;
        /* display: none; */
    }

    @keyframes tone {
        from {
            max-width: 30%;
        }
        to{
            max-width: 100%;
        }
    }

    .menu li a {
        display: flex;
        font-size: 1.3rem;
        padding: 10px 100px;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }

    .cans {
        position: absolute;
        top: 0rem;
        left: 0.8rem;
        display: block;
        cursor: pointer;
        font-size: 25px;
    }

    nav ul{
        display: none;
    }

    nav ul.mList {
        display: none;
    }

    .plans{
        display: block;
    }

    .plans div:nth-of-type(1){
        width: 100%;
        margin-top: 12%;
    }

    .button-btn {
        margin-top: -100%;
    }

    #in {
        font-size: 35px;
    }

    .travel p {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    .tours {
        display: inline-block;
        margin: 1rem 3.5rem;
    }

    .places {
        display: inline-block;
        text-align: center;
        border-radius: 12px;
        
    }
    
    .places h2 {
        color: red;
        font-size: 35px;
        letter-spacing: 3px;
        border-radius: 1px;
        padding: 30px 30px;
        background-color: #000;
        margin-top: 10%;
    }

    .places a {
        text-decoration: none;
        color: red;
        font-weight: bold;
        font-size: 12px;
        border-radius: 12px;
        background-color: #fff;
        padding: 12px 30px;
        margin-left: 1.5rem;
        
    }

    .places img {
        width: 100%;
    }

    #in {
        color: blue;
    }
    
    /*.time h1{
        position: absolute;
        right: -55%;
        transform: translate(-50%, -50%);
        margin-top: 92rem;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 3px;
        color: blue;
        cursor: pointer;
    }
    
    .time:hover h1 {
        color: red;
        transition: 1s;
    }*/

    .tours>div {
        opacity: 0;
        /* position: absolute; */
    }

    div.show {
        animation: show 1s ease-in-out 1  forwards;
        transform: translateY(-90%);
    }

    
    @keyframes show {
        from {
            transform: translateY(190px);
            opacity: 0;
        }to{
            transform: translateY(0);
            opacity: 1;
           
        }
    }

    div.left {
        animation: left 1s ease-in-out 1  forwards;
    }

    @keyframes left {
        from {
            transform:translateX(40%);
            opacity: 0;
        }to{
            transform: translateX(0);
            opacity: 1;
            
        }
    }

    div.right {
        animation: right 1s ease-in-out 1 forwards;
    }

    @keyframes right {
        from {
            transform: translateX(-10%);
            opacity: 0;
        }to{
            transform: translateX(5%);
            opacity: 1;
        }
    }


    div.places:nth-of-type(3) {
        top: -100%;
    }

    footer {
        position: absolute;
        bottom: -180%;
        left: 0;
        right: 0;
        background-color: #000;
        width: 100w;
        padding: 20px 0;
        text-align: center;
        height: 118px;
    }
    
    footer h1 {
        font-size: 18px;
        color: white;
        margin: 0rem 1rem 1rem 0;
    }
    
    .footer-bottom {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        color: white;
        margin-bottom: 20rem;
    }
    
    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
    
    .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 3rem 1rem 0;
    }
    
    .socials li {
        margin: 0 10px;
    }
    
    .socials a {
        text-decoration: none;
        color: white;
    }
    
    .socials a i {
        font-size: 1.1rem;
        transition: color .4s ease;
    }
    
    .socials a:hover {
        color: lightgreen;
    }


}

@media (max-width: 393px) {
    .container {
        padding: 0 30px;
    }

    .icon {
        display: block;
    }

     body {
        background-attachment: fixed;
     }

    nav {
        position: relative;
        padding: 5px 0px;
        z-index: 2;
    }

    .menu {
        position: fixed;
        right: -10px;
        top: 0px;
        background-color: lightgray;
        width: 50%;
        box-shadow: 0 1px 16px hsla(210, 74%, 62%, 0.1);
        padding: 3.5rem 2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        transition: top 0.1s;
        align-items: center;
        animation: tone 2s 1;
        /* display: none; */
    }

    @keyframes tone {
        from {
            max-width: 30%;
        }
        to{
            max-width: 100%;
        }
    }

    .menu li a {
        display: flex;
        font-size: 1.3rem;
        padding: 10px 100px;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }

    .cans {
        position: absolute;
        top: 0rem;
        left: 0.8rem;
        display: block;
        cursor: pointer;
        font-size: 25px;
    }

    nav ul{
        display: none;
    }

    nav ul.mList {
        display: none;
    }

    .plans{
        display: block;
    }

    .plans div:nth-of-type(1){
        width: 100%;
        margin-top: 12%;
    }

    .button-btn {
        margin-top: -100%;
    }

    #in {
        font-size: 35px;
    }

    .travel p {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    .tours {
        display: inline-block;
        margin: 1rem 3.5rem;
    }

    .places {
        display: inline-block;
        text-align: center;
        border-radius: 12px;
        
    }
    
    .places h2 {
        color: red;
        font-size: 35px;
        letter-spacing: 3px;
        border-radius: 1px;
        padding: 30px 30px;
        background-color: #000;
        margin-top: 10%;
    }

    .places a {
        text-decoration: none;
        color: red;
        font-weight: bold;
        font-size: 12px;
        border-radius: 12px;
        background-color: #fff;
        padding: 12px 30px;
        margin-left: 1.5rem;
        
    }

    .places img {
        width: 100%;
    }

    #in {
        color: blue;
    }
    
    /*.time h1{
        position: absolute;
        right: -55%;
        transform: translate(-50%, -50%);
        margin-top: 92rem;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 3px;
        color: blue;
        cursor: pointer;
    }
    
    .time:hover h1 {
        color: red;
        transition: 1s;
    }*/

    .tours>div {
        opacity: 0;
        /* position: absolute; */
    }

    div.show {
        animation: show 1s ease-in-out 1  forwards;
        transform: translateY(-90%);
    }

    
    @keyframes show {
        from {
            transform: translateY(190px);
            opacity: 0;
        }to{
            transform: translateY(0);
            opacity: 1;
           
        }
    }

    div.left {
        animation: left 1s ease-in-out 1  forwards;
    }

    @keyframes left {
        from {
            transform:translateX(40%);
            opacity: 0;
        }to{
            transform: translateX(0);
            opacity: 1;
            
        }
    }

    div.right {
        animation: right 1s ease-in-out 1 forwards;
    }

    @keyframes right {
        from {
            transform: translateX(-10%);
            opacity: 0;
        }to{
            transform: translateX(5%);
            opacity: 1;
        }
    }


    div.places:nth-of-type(3) {
        top: -100%;
    }

    footer {
        position: relative;
        margin-top: 70rem;
        background-color: #000;
        width: 100w;
        padding: 10px 0;
        text-align: center;
        height: 148px;
    }
    
    footer h1 {
        font-size: 18px;
        color: white;
        margin: 2rem 1rem 1rem 0;
    }
    
    .footer-bottom {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .footer-bottom p {
        font-size: 13px;
        word-spacing: 2px;
        text-transform: capitalize;
        color: white;
        margin-bottom: 20rem;
    }
    
    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
    
    .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 3rem 1rem 0;
    }
    
    .socials li {
        margin: 0 10px;
    }
    
    .socials a {
        text-decoration: none;
        color: white;
    }
    
    .socials a i {
        font-size: 1.1rem;
        transition: color .4s ease;
    }
    
    .socials a:hover {
        color: lightgreen;
    }

}




